@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Playfair_Display;
    src: url(../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
body{
    width: 100%;  
    max-width: 1920px;
    margin: 0 auto;
}
a{
    color: #393939;
    outline: none;
    text-decoration: none; 
}
/*-------header начало-------*/
.header{
    background: url(../img/header4.png) no-repeat;
    width: 100%;
    height: 637px;
}
.header .logo{
    text-align: center;
    margin-top: 55px;
    margin-left: 92px;
}
.header .logo .logo1{
    font-family: Montserrat;
    font-size: 16px;
    color: white;
    letter-spacing: 0.26em;
}
.header .logo .logo2{
    font-family: Playfair_Display;
    font-size: 32px;
    color: white;
    letter-spacing: 0.14em;
}
.header ul{
    display: flex;
    gap: 88px;
    padding-top: 71px;
}
.header ul li{
    color: white;
    font-family: Montserrat;
    font-size: 16px;
    letter-spacing: 0.26em;
}
.menu{
    background: #393939;
    height: 157px;
}
.menu, .menu1{
    display: flex;
}
.menu1 .button{
    margin-top: 47px;
    height: 20px;
    font-family: Montserrat;
    font-size: 16px;
    color: white;
    border: 1px solid white;
    padding: 25px 50px;
    letter-spacing: 0.26em;
}
.menu1{
    margin-left: 395px;
    gap: 88px;
}
.header .zagl{
    font-size: 74px;
    color: white;
    font-family: Playfair_Display;
    width: 383px;
    margin-left: 769px;
    text-align: center;
    margin-top: 191px;
    letter-spacing: 0.04em;
}
/*-------header конец-------*/

.transition{
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    color: #393939;
    height: 100px;
    background: #E7E7E7;
    padding-top: 57px;
    padding-left: 143px;
}
/*-------НОВОСТЬ начало-------*/
.news .zag{
    margin-top: 107px;
    margin-left: 143px;
    font-family: Playfair Display;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    color: #393939;
}
h1{
    margin-top: 107px;
    margin-left: 143px;
    font-family: Playfair Display;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    color: #393939;
}
.news .date{
    margin-top: 29px;
    margin-left: 143px;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 24px;
    color: #000000;
}
.news1{
    display: flex;
}
.news1 .images{
    margin-left: 143px;
    display: inline;
    width: 491px;
}
.n1{
    margin-top: 57px;
    width: 491px;
    height: 656px;
}
.images .n2{
    margin-top: 132px;
    width: 491px;
    height: 656px;
}
h2{
    margin-top: 31px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 157.4%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
    width: 1026px;
}
.news1 .info{
    margin-left: 118px;
    display: inline;
}
.info{
    margin-top: 16px;
}
.info .text{
    margin-top: 31px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 157.4%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
    width: 1026px;
}
.info .sale{
    font-weight: 600;
    font-size: 28px;
}
.text .intro, .wide, .every, 
.more, .highest{
    font-family: Playfair Display;
    font-size: 32px;
    line-height: 157.4%;
    letter-spacing: 0.02em;
}
.open, .time{
    font-weight: 600;
}
.open1{
    font-size: 32px;
}
/*-------НОВОСТЬ конец-------*/


/*-------подвал начало-------*/
.footer{
    height: 371px;
    display: flex;
    margin-top: 219px;
    background: url(../img/footer.png) no-repeat;
}
.footer .text, .footer .text1{
    font-family: Montserrat;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.footer .text span, .footer .text1 span{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 108.3%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.footer .text{
    width: 443px;
}
.footer .text1{
    margin-top: 22px;
    width: 464px;
}
.footer .txt{
    padding-top: 82px;
    margin-left: 219px;
}
.social{
    margin-left: 588px;
    margin-top: 82px;
}
.social p{
    font-family: Montserrat;
    font-size: 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    font-weight: 600;
}
.social .image{
    margin-top: 31px;
    display: flex;
    gap: 57px;
   justify-content: center;
}
/*-------подвал конец-------*/